* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --custom-color: rgb(209, 127, 127);
  --custom-border: 5px solid var(--custom-color);
}

.App-header {
  color: var(--custom-color);
  display: flex;
  border-bottom: var(--custom-border);
}

.App-footer {
  border-top: var(--custom-border);
  text-align: center;
  font-style: italic;
}

.App-body {
  margin: 5em auto;
}

.App-footer p {
  margin-top: 1em;
}
